<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/chat.js"></script>
    <link href="/static/css/chat.css" media="all" rel="stylesheet" />
  </head>
  <body>
    <h1>Hello and welcome to CHIPCHAT!</h1>
    <h2>The chat client for people who want to talk about chips</h2>
    <h3>(And other forms of potato-based snack, if you must.)</h3>

    <ul id="messages" data-url="/chat/messages/public">
      <li class="template"></li>
    </ul>
    <form id="chat" action="/chat/post/public" method="post" data-remote="true">
      <label for="nickname">Nickname</label>
      <input id="nickname" type="text" name="nickname" />
      <br />
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
