<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/chat.css" media="all" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="/static/js/chat.js"></script>
  </head>
  <body>
    <header role="banner" class="banner">
      <div class="container">
        <a href="/" class="brand">Choices CHAT</a>
      </div>
    </header>
    <div class="container">
      <h1>Hello and welcome to Choices CHAT!</h1>
      <h2>the chat client for people who want to talk about the future of the Choices-beta Website<br><small>(and other parts of the platform, if you must.)</small></h2>

      <hr>

      <h3>Choose a nickname to get started!</h3>
      <form id="nickname" action="/login" method="post">
        <div class="input-group-large">
          <input id="nickname" type="text" name="nickname" />
          <input type="submit" class="btn" value="Starting chatting!" />
        </div>
      </form>
    </div>
  </body>
</html>
